@model DDD.WinForm.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
</div>

<form method="get" action="@Url.Action("Index", "Home")">
    <div>
        <label for="areaId">地域ID</label>
        <input type="number" id="areaId" name="areaId" value="@Context.Request.Query["areaId"]" />
        <button type="submit">検索</button>
    </div>
</form>
<div>
    <div>
        <label for="datetime">日時</label>
        <span id="datetime">@Model.DataDate</span>
    </div>
    <div>
        <label for="condition">状態</label>
        <span id="condition">@Model.Condition</span>
    </div>
    <div>
        <label for="temperature">温度</label>
        <span id="temperature">@Model.Temperature</span>
    </div>
</div>