@model System.Data.DataTable
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Whaher</h1>
</div>

<form method="get" action="@Url.Action("Index", "Home")">
    <div>
        <label for="areaId">地域ID</label>
        <input type="number" id="areaId" name="areaId" value="@Context.Request.Query["areaId"]" />
        <button type="submit">検索</button>
    </div>
</form>
<div>
    @if (Model != null && Model.Rows.Count > 0)
    {
        var row = Model.Rows[0];

        <div>
            <label for="datetime">日時</label>
            <span id="datetime">@(row["DataDate"]?.ToString() ?? "データなし")</span>
        </div>
        <div>
            <label for="condition">状態</label>
            <span id="condition">@(row["condition"]?.ToString() ?? "データなし")</span>
        </div>
        <div>
            <label for="temperature">湿度</label>
            <span id="temperature">@(row["temperature"]?.ToString() ?? "データなし")</span>
        </div>
    }
    else
    {
        <div>
            <label for="datetime">日時</label>
            <span id="datetime">データなし</span>
        </div>
        <div>
            <label for="condition">状態</label>
            <span id="condition">データなし</span>
        </div>
        <div>
            <label for="temperature">温度</label>
            <span id="temperature">データなし</span>
        </div>
    }
</div>