@model DDD.WinForm.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
</div>

<div class="mb-3">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="List">一覧表示へ</a>
</div>

<div class="mb-3">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Save">データ登録</a>
</div>

<form method="get" action="@Url.Action("Index", "Home")">
    <div>
        <label for="areaId">地域ID</label>
        <select id="areaId" name="areaId" value="@Model.SelectedAreaIdText">
            @foreach (var area in Model.Areas)
            {
                @if (area.AreaId == Convert.ToInt32(Model.SelectedAreaIdText))
                {
                    <option value="@area.AreaId" selected>@area.AreaName</option>
                }
                else
                {
                    <option value="@area.AreaId">@area.AreaName</option>
                }
            }
        </select>
        <button type="submit">検索</button>
    </div>
</form>
<div>
    <div>
        <label for="datetime">日時</label>
        <span id="datetime">@Model.DataDateText</span>
    </div>
    <div>
        <label for="condition">状態</label>
        <span id="condition">@Model.ConditionText</span>
    </div>
    <div>
        <label for="temperature">温度</label>
        <span id="temperature">@Model.TemperatureText</span>
    </div>
</div>